body{
    background-image: url("/static/image_fond.png");
    background-size: cover;
    margin: 0;
    padding:0;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    overflow:hidden;
}

.screenStart{
    position:fixed;
    top:0;
    left:0;
    backdrop-filter: blur(10px); 
    background: rgba(255, 255, 255, 0.2);
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.Startbutton{
    position:relative;
    z-index:2;
    background-color: black;
    display:flex;
    align-self: center;
    border: 5px solid #ff7a00;
    gap: 10px;
    border-radius: 5px;
    padding:15px;
}

.gobutton{
    position:relative;
    z-index:3;
    background-color: #ff7a00;
}

.QuestScreen{
    display:none;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url("./quest_image.png");
    background-size: cover;
    position:relative;
    z-index: 3;
    width:250px;
    height:250px;
    grid-column: 2;
    grid-row: 3;
}